<div style = "text-align: center">
  <h1><%= @game.player_one_name %> attacked <%= @game.player_two_name %></h1>
  <form action='/play'>
    <input type='submit' value='Continue battle'>
  </form>
</div>
