<div style = "text-align: center">
  <h1><%= @game.current_player.name %> attacked <%= @game.other_player.name %></h1>
  <form action='/switch_player'>
    <input type='submit' value='Continue battle'>
  </form>
</div>
