 <embed name="myMusic" loop="true" hidden="true" src="starwars.mp3"></embed>
  <iframe src="//giphy.com/embed/5xtDarHj0ORdxfWtV6g" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/bigblueboo-space-scifi-hyperspace-5xtDarHj0ORdxfWtV6g">via GIPHY</a></p>

<div style="text-align: center">
  <h1><%= @game.player_one_name %> vs. <%= @game.player_two_name %></h1>
  <h3><%= @game.player_two_name %> <%= @game.player_two_hitpoints %>/100HP</h3>
<div>
  <form action = '/attack'>
  <input type = "submit" value = 'Attack'>
  </form>
</div>
</div>
